@font-face {
    font-family: gilroy-bold;
    src: url(../font/gilroy-bold.ttf);
}
@font-face {
    font-family: gilroy-medium;
    src: url(../font/gilroy-medium.ttf);
}
.header{
    height: 88px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-links{
    width: 940px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-links-link{
    font-family: Gilroy-Bold;
    font-size: 18px;
    color: #828282;
    cursor: pointer;
}
.header-links-link:hover{
    color: black;
}
.header-divider{
    width: 940px;
    border-bottom: 1px solid #828282;
    margin-top: 31px;
}
@media screen and (max-width: 1070px){
    .header-links{
        width: 800px;
    }
    .header-divider{
        width: 800px;
    }
}
@media screen and (max-width: 900px){
    .header{
        display: none;
    }
}
.hero{
    height: 679px;
    width: 940px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 39px;
    
}
.hero-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.hero-text-title{
    width: 123px;
    font-family: Gilroy-Bold;
    font-size: 47.3392px;
    color: #070707;
    line-height: 47px;
}
.hero-text-subtitle{
    width: 155px;
    font-family: Gilroy-Medium;
    font-size: 18px;

}
.hero-text-languages{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 65px;
    transform: rotate(-90deg);
    font-family: Gilroy-Bold;
    font-size: 16px;
}
.hero-image-img{
    margin-top: 36px;
    object-fit: cover;
    height: 385px;
}
@media screen and (max-width: 1070px){
    .hero{
        width: 800px;
    }
}
@media screen and (max-width: 900px){
    .hero{
        width: 700px;
    }
    .hero-text{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .hero-text-languages{
        display: none;
    }
    .hero-text-subtitle{
        margin-top: 23px;
    }
}
@media screen and (max-width: 750px){
    .hero{
        width: 100%;
        padding: 0px 20px;
    } 
}
.about{
    height: 506px;
    background: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.about-text{
    width: 485px;
}
.about-text-title{
    font-family: Gilroy-Bold;
    font-size: 34px;
    color: #070707;  
    text-align: center;
}
.about-text-subtitle{
    margin-top: 17px;
    width: 100%;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
}
@media screen and (max-width: 554px){
    .about-text{
        width: 100%;
        padding: 0 20px;
    }
}
.skills{
    width: 940px;

    margin: 0 auto;
}
.skills-text-title{
    margin-top: 91px;
    font-family: Gilroy-Bold;
    font-size: 34px;
    color: #070707;
    text-align: center; 
}
.skills-text-subtitle{
    margin-top: 69px;
    font-family: Gilroy-Medium;
    font-size: 18px;
    color: #070707;
    text-align: center;
}
.skills-cards{
    flex-wrap: wrap;
    margin-top: 83px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.skills-cards-card{
    margin-bottom: 40px;
    width: 166px;
    height: 206px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.skills-cards-card-text{
    width: 89px;
    font-family: Gilroy-Bold;
    font-size: 14px;
    color: #828282;
    text-align: center;
}
.skills-cards-card-stars{
    width: 166px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
@media screen and (max-width: 1000px) {
    .skills{
        width: 400px;
    }
}
@media screen and (max-width: 505px) {
    .skills{
        width: 220px;
    }
    .skills-cards{
        justify-content: center;
    }
}
.portfolio{
    margin-top: 110px;
    height: 879px;
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio-title{
    margin-top: 112px;
    font-family: Gilroy-Bold;
    font-size: 34px;
    color: #070707;
}
.portfolio-image-img{
    padding: 0 20px;
    width: 100%;
    margin-top: 47px;
    height: 510px;
    object-fit: cover;
}
.portfolio-links{
    margin-top: 44px;
}
.portfolio-links-link{
    font-family: Gilroy-Medium;
    font-size: 18px;
    text-decoration-line: underline;
    color: #070707;
    cursor: pointer;
}
.portfolio-links-link:hover{
    color: #828282;
}
.footer{
    height: 622px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-content-title{
    margin-top: 114px;
    font-family: Gilroy-Bold;
    font-size: 34px;
    color: #070707;
    text-align: center;
}
.footer-content-subtitle{
    margin-top: 20px;
    font-family: Gilroy-Medium;
    font-size: 18px;
    color: #070707;
    text-align: center;
}
.footer-button-button{
    margin-top: 29px;
    width: 180px;
    height: 42px;
    font-family: Gilroy-Bold;
    font-size: 18px;
    color: #FFFFFF;
    border: none;
    background: #070707;
    border-radius: 50px;
    cursor: pointer;
}
.footer-button-button:hover{
    background: #828282;
}
.footer-links{
    margin-top: 85px;
    width: 342px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-links-link{
    cursor: pointer;
    border: none;
    
}
.footer-links-link:hover {
    fill: aquamarine;
}
.footer-text{
    margin-top: 46px;
    font-family: Gilroy-Medium;
    font-size: 14px;
    text-align: center;
    color: #828282;
}
@media screen and (max-width:500px){
    .footer-button-button{
        width: 316px;
        border-radius: 50px;
        
    }
    .footer-links{
        width: 315px;
        
    }
}
@media screen and (max-width:380px){
    .footer-button-button{
        width: 270px;
    } 
    .footer-links{
        width: 270px;
    }
}
